@font-face {
  font-family: 'roboto';
  src: url(fonts/Roboto-Thin.ttf);
}

* {
  margin: 0;
  padding: 0;
  font-family: 'roboto';
}

header > h1 {
  font-size: 3rem;
  padding: 20px 0;
}

header,
header > button,
.check-read > button:hover  {
  background-color: black;
  color: white;
  text-align: center;
}

header > button,
.each-book > button {
  font-size: 1.1rem;
  width: 100%;
  border: none;
  padding: 10px 0;
}

header > button:hover {
  background-color: lightgray;
  color: black;
}

.modal {
  margin: auto;
  width: 60%;
}

.all-buttons {
  border: none;
  padding: 10px 0;
}

.check-read {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2px;
  margin-bottom: 2px;
}

.check-read-choice {
  background-color: black;
  color: white;
}

.modal-style > div:first-child {
  width: 80%;
  margin: 20px auto;
}

.modal-style > div:first-child > input {
  display: block;
  border: none;
  background-color: #f0f0f0;
  padding: 8px 3px;
  width: 100%;
}

.modal-style > div:first-child > p {
  margin-bottom: 10px;
  color: red;
  font-size: 0.8rem;
}

#confirm,
#close-modal {
  width: 100%;
}

.hide {
  display: none;
}

#confirm,
.each-book-if-read {
  margin-bottom: 2px;
}

#confirm:hover {
  background-color: green;
  color: white;
}

#close-modal:hover,
.delete-book:hover {
  background-color: red;
  color: white;
}

.each-book {
  margin: 20px auto;
  width: 90%;
  border: solid;
}

.each-book > h2 {
  background-color: black;
  color: white;
  padding: 10px;
}

.each-book > p {
  padding: 5px 10px;
}

.green:hover {
  background-color: green;
  color: white;
}

.red:hover {
  background-color: red;
  color: white;
}

@media (min-width: 992px) {
  #display-books {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-content: center;
    padding-top: 20px;
  }

  .modal {
    max-width: 40%;
  }
}