@font-face {
  font-family: 'roboto';
  src: url(fonts/Roboto-Thin.ttf);
}

* {
  margin: 0;
  padding: 0;
  font-family: 'roboto';
}

header > h1 {
  padding: 20px 0;
}

header,
header > button,
.check-read > button:hover  {
  background-color: black;
  color: white;
  text-align: center;
}

header > button {
  width: 100%;
  border: none;
  padding: 10px 0;
}

header > button:hover {
  background-color: lightgray;
  color: black;
}

.modal {
  margin: auto;
  width: 60%;
}

.all-buttons {
  border: none;
  padding: 10px 0;
}

.check-read {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2px;
  margin-bottom: 2px;
}

.modal-style > div:first-child {
  width: 80%;
  margin: 20px auto;
}

.modal-style > div:first-child > input {
  display: block;
  border: none;
  background-color: #f0f0f0;
  padding: 8px 0;
  width: 100%;
  margin-bottom: 10px;
}

#confirm,
#close-modal {
  width: 100%;
}

#confirm {
  margin-bottom: 2px;
}

#confirm:hover {
  background-color: green;
  color: white;
}

#close-modal:hover {
  background-color: red;
  color: white;
}

.delete-book {
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  background-color: white;
  padding: 5px;
}

.delete-book:hover {
  background-color: black;
  color: white;
}

#display-books {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  gap: 30px;
  justify-content: center;
  padding-top: 20px;
  text-align: center;
}

.each-book {
  border: solid;
  position: relative;
}

.each-book-if-read {
  padding: 10px 0;
  margin: 0;
}

.red, 
.green {
  color: white;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}